fastapi==0.119.0
uvicorn==0.38.0
sqlalchemy==2.0.44
psycopg2-binary==2.9.11
python-dotenv==1.1.1
python-jose==3.5.0
passlib==1.7.4
bcrypt==4.0.1
python-multipart==0.0.20
pydantic==2.12.3
email-validator==2.3.0

# очередь задач
celery==5.4.0
redis==5.2.1

# генерация PDF-отчётов
reportlab==4.2.5

# тесты
pytest==8.3.3
pytest-asyncio==0.24.0
httpx==0.27.2
